In [1]:
import pandas as pd

In [3]:
combined = pd.read_excel("combined_notExtend.xlsx" , sheet_name=None)
sheets = list(combined.keys())
combined_loci = pd.DataFrame()

for name in sheets:
    for chrom in combined[name]['chrom'].unique():
        df = pd.DataFrame([[chrom, combined[name].loc[combined[name]['chrom']==chrom , 'start'].min()-1000,
                          combined[name].loc[combined[name]['chrom']==chrom , 'end'].max()+1000]], index=[name])
        combined_loci = pd.concat([combined_loci ,df])
combined_loci = combined_loci.reset_index()
combined_loci.columns = ['Species', 'chrom', 'start', 'end']
combined_loci

                      Species               chrom      start        end
0              Greenland_wolf             SUPER_8      92919    2551444
1              Greenland_wolf        atg000251l_1      86506    1367192
2                    Red_deer            SUPER_13   71552516   72173619
3                    Red_deer   scaffold_304_ctg1      12215     129440
4                    Red_deer        atg000256l_1       8524     207080
5                    Red_deer        atg001479l_1     265477     482452
6                    Red_deer        atg002549l_1       2266     126966
7                    Red_deer        atg004029l_1      10307      18608
8     Philippine_flying_lemur             SUPER_3  184941455  186958082
9     Philippine_flying_lemur        atg000034l_1    7273337    7686944
10    Philippine_flying_lemur        atg001440l_1      12629      24394
11    Philippine_flying_lemur  hap_ptg000193l_1_1      10759     160207
12           Asiatic_elephant            SUPER_21   56865581   59220140
13           Asiatic_elephant        atg000297l_1       9603     426597
14           Asiatic_elephant        atg000544l_1         50    1796573
15           Asiatic_elephant        atg005311l_1      24116     318799
16           Asiatic_elephant            SUPER_15   64693235   64695528
17           Asiatic_elephant        atg003098l_1     699772     702034
18             Tammar_wallaby             SUPER_1  319162269  322190311
19             Tammar_wallaby        atg000701l_1      76224      96970
20             Tammar_wallaby        atg000890l_1      22930     154018
21             Tammar_wallaby        atg001842l_1      11893      14189
22             Tammar_wallaby        atg003100l_1     119466     210885
23             Tammar_wallaby        atg003415l_1       9268      63577
24             Tammar_wallaby        atg003968l_1      38415      96629
25             Tammar_wallaby        atg005711l_1       2185       4478
26             Tammar_wallaby        atg005867l_1       4597      15688
27             Tammar_wallaby        atg007136l_1      47059      49355
28             Tammar_wallaby        atg008329l_1      78776      81072
29             Tammar_wallaby        atg002681l_1      27171      29466
30             Tammar_wallaby        atg002758l_1      19515      21815
31  Gray_short_tailed_opossum             SUPER_1  304591038  305223483
32  Gray_short_tailed_opossum        atg001351l_1      27084     118013
33  Gray_short_tailed_opossum  hap_ptg000089l_1_1       6530     791173
34            Clouded_leopard             SUPER_7  148144104  150007476
35            Clouded_leopard        atg000573l_1      13968     119123
36            Clouded_leopard  hap_ptg001016l_1_1      31991     763874
37            Clouded_leopard  hap_ptg001219l_1_1      11797     577670
38            Clouded_leopard  hap_ptg001979l_1_1       5832     140992

In [4]:
species = pd.read_excel("species.xlsx")
species = dict(zip(species['common_name'], species['species']))
combined_loci= combined_loci.replace({"Species": species})
combined_loci.to_csv('IgH_loci.txt', sep='\t', index=False)